<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>New Project</title>
    <link rel="stylesheet" href="stylesheets/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Generate using http://realfavicongenerator.net/ -->
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="javascripts/app.js"></script>
</head>

<body>


    <div data-role="page" id="page1">

        <div role="main" class="ui-content2">

        </div>


<div class="row">
    <div class="timeline">
        <div class="line">
        </div>
        <div class="event">
            <div class="icon">
            <img src="images/age3.png" alt="" />
            </div>
            <div class="date">
                Eliniänodote
            </div>
            <div class="details">
                        <div id="dynamicContent">
            <p><b><span id="dynSukupuoli"></span></b> keskimääräinen eliniänodote oli syntymävuonnasi <span class="dynamic" id="dynElinika"></span> vuotta. <span id="dynVanhempi"></span> syntymän aikaan voidaan arvioida sen olleen <span class="dynamic" id="dynVanhempiElinika"></span> vuotta (<span id="dynVanSynVuosi"></span>). Vuonna 2015 syntyneiden <span id="dynLapsi"></span> arvioidaan elävän keskimäärin <span class="dynamic"  id="dynLapsiElinika"></span>-vuotiaiksi.</p>
            </div>
            </div>
        </div>
        <p><strong>PERHE</strong></p>
<p>Miehen/Naisen keskim&auml;&auml;r&auml;inen elini&auml;nodote oli syntym&auml;vuonnasi xx vuotta. Is&auml;si/&auml;iti syntym&auml;n aikaan se oli XX vuotta. Vuonna 2015 syntyneiden poikien/tytt&ouml;jen arvioidaan el&auml;v&auml;n keskim&auml;&auml;rin XX-vuotiaiksi.</p>
<p><span style="font-weight: 400;">Kun synnyit oli suomalaisperheiss&auml; keskim&auml;&auml;rin XX lasta. Sen j&auml;lkeen lapsim&auml;&auml;r&auml; on kasvanut/laskenut. Nyky&auml;&auml;n perheiss&auml; lapsia on keskim&auml;&auml;rin XX. Yksi syy syntyvyyden laskuun on yksin asuvien m&auml;&auml;r&auml;n kasvaminen. Vuonna 2014 suomalaiskodeista 42 prosenttia oli sinkkutalouksia, kun yhdeks&auml;nkymment&auml;luvun alussa osuus oli 32 prosenttia.</span><span style="font-weight: 400;"><br /></span></p>
<p><span style="font-weight: 400;">P&auml;iv&auml;koti-i&auml;ss&auml; XX prosenttia alle kouluik&auml;isist&auml;<br /></span></p>
<p><span style="font-weight: 400;">Suomessa menn&auml;&auml;n yleisimmin naimisiin 25-29-vuotiaana. &nbsp;Vuonna XXXX, kun olit 25 vuoden keskim&auml;&auml;r&auml;isess&auml; naimisiinmenoi&auml;ss&auml;, avioliiton satamaan purjehti XXXXX paria. Eroja oli samana vuonna XXXX. Avioliiton suosio on niist&auml; p&auml;ivist&auml; hiipunut. Vuonna 2014 solmittiin avioliittoja XXXXX kappaletta, eroja oli &nbsp;XXX.</span></p>
<p><span style="font-weight: 400;">Suomesta on tullut kansainv&auml;linen maa. Vuonna 2015 suomalaisia muutti ulkomaille kaksi kertaa niin paljon kuin vuonna 1990. Vaikka avioliiton suosio on hiipunut, niin ulkomaalaisten kanssa suomalaiset menev&auml;t naimisiin enenev&auml;ss&auml; m&auml;&auml;rin. Sin&auml; vuonna kun sinusta tuli t&auml;ysi-ik&auml;inen, solmivat suomalaismiehet/naiset avioliittoja ulkomaalaisten kanssa &nbsp;XX kappaletta. Vuonna XX, XX vuotta my&ouml;hemmin, luku on huomattavasti suurempi: XX avioliittoa.</span></p>
<p><span style="font-weight: 400;">Kenties yksi syy avioerojen yleistymiseen on kommunikoinnin puute. Vuorovaikutukseen ei en&auml;&auml; tunnu olevan aikaa. Kun olit xx vuotta keskivertomies/nainen jutteli perheenj&auml;sentens&auml; kanssa 10 minuuttia vuorokaudessa, vuonna 2010 kommunikointiin k&auml;ytettiin vain XX minuuttia. Sosiaaliseen kanssak&auml;ymiseen k&auml;ytettiin muutenkin v&auml;hemm&auml;n aikaa kuin aiemmin. Ik&auml;toverisi sosioteerasivat XX vuotiaina jopa XX minuuuttia enemm&auml;n kuin samanik&auml;iset tekev&auml;t nykyp&auml;iv&auml;n&auml;.</span></p>
<p><span style="font-weight: 400;">Ehk&auml;p&auml; s&auml;&auml;stetty aika k&auml;ytet&auml;&auml;n nukkumiseen? Suomalaiset ik&auml;toverisi nukkuivat XX-vuotiaina (25-44v) 16 minuuttia v&auml;hemm&auml;n kuin samanik&auml;iset t&auml;n&auml;p&auml;iv&auml;n&auml;.</span></p>
<p><strong>TERVEYS</strong></p>
<p><span style="font-weight: 400;">Suomalaisten terveys on parantunut vuosi vuodelta. Syntym&auml;si aikaan 15-64-vuotiaalla keskiarvomiehell&auml; oli XX prosenttia suurempi riski kuolla sy&ouml;p&auml;&auml;n kuin nykyp&auml;iv&auml;n&auml;. Tapaturmaisen kuoleman kohtasi syntym&auml;si aikaan XX prosenttia isompi porukka kuin nyky&auml;&auml;n.</span></p>
<p><span style="font-weight: 400;">Alkoholi on maistunut suomalaisille huolella. Kun saavutit alkoholin nauttimiseen vaadittavan i&auml;n, suomalaismies/nainen veti k&auml;nnit ??</span></p>
<p><span style="font-weight: 400;">Kuntoilu ei &nbsp;on huonontunut. Tilasto: vapaa-ajalla kuntoilua harrastavat ?????</span></p>
<p><span style="font-weight: 400;">Lihavien osuus ty&ouml;ik&auml;isi&auml; miehi&auml;/naisia oli nuoruudessasi (1978 -&gt;) &nbsp;X%. Vuosien aikana osuus on kasvanut XX prosenttiin. </span><span style="font-weight: 400;"><br /></span></p>
<p><span style="font-weight: 400;">Kun aloitit peruskoulun/yl&auml;koulun/lukion, XX alaik&auml;ist&auml; suomalaisnaista/miest&auml; sai korvauksia depressiol&auml;&auml;kkeisiin. Vuonna 2014 luku oli XX prosenttia suurempi.</span></p>
<p><span style="font-weight: 400;">Tupakointi on menett&auml;nyt suosiotaan. Kun k&auml;vit yl&auml;koulua, p&auml;ivitt&auml;in r&ouml;&ouml;ki&auml; sauhutteli XX prosenttia ty&ouml;ik&auml;isist&auml; miehist&auml;/naisista. Nyky&auml;&auml;n luku on XX%.</span></p>
<p><span style="font-weight: 400;">Ep&auml;terveelliset elintavat on</span></p>
<p><span style="font-weight: 400;">SY&Ouml;P&Auml;</span></p>
<p><span style="font-weight: 400;"><br /></span><strong>MEDIATEKNOLOGI</strong></p>
<p><span style="font-weight: 400;">Kun olit XX-vuotias, internet ei ollut samalla tavalla kaikkialla kuin nyky&auml;&auml;n. Vain 12 prosentilla 15-74-vuotiaista suomalaisista oli nettiyhteys. Vuonna 2015 internetyhteys oli jo 93 prosentilla.</span></p>
<p><span style="font-weight: 400;">Kun olit xx-vuotias (vuonna 1993), noin joka kymmenennell&auml; suomalaisella oli matkapuhelin. Vuonna 2005 matkapuhelinliittym&auml; oli jo l&auml;hes kaikilla.</span><span style="font-weight: 400;"><br /></span></p>
<p><span style="font-weight: 400;">Vuonna 2009 kotitalouksien laajakaistaverkon nopeus oli 90 prosentilla alle 10 megaa. Vuonna 2015 alle kymppimegaisia liittymi&auml; oli en&auml;&auml; 23 prosentilla. Matkapuhelinverkossa liikkui dataa huomattavasti enemm&auml;n kuin ollessasi XX-vuotias. 2345 kertaa enemm&auml;n jos tarkkoja ollaan. [Kuva: chart]</span><span style="font-weight: 400;"><br /><br />Kun olit XX-vuotias [2007], nelj&auml; kymmenest&auml; &nbsp;k&auml;ytti netti&auml; p&auml;ivitt&auml;in. Seuraavien kymmenen vuoden aikana interneti&auml; k&auml;ytt&auml;vien m&auml;&auml;r&auml; on tuplaantunut.<br /></span></p>
<p><span style="font-weight: 400;">Olit XX-vuotias [1996] kun Jari Sillanp&auml;&auml; julkaisi debyyttialbuminsa, josta tuli Suomen myydyin albumi. Saavutus, jota ei nykyisell&auml; myynnill&auml; luultavasti koskaan rikota. Albumimyynnin huippuvuodet ajoittuvat 2000-luvun alkupuolelle, jolloin Suomessa myytiin vuosittain noin 8-9 miljoonaa cd-albumia, vuonna 2015 en&auml;&auml; puolitoista miljoonaa. &nbsp;[taulukko]</span></p>
<p><span style="font-weight: 400;">Suomalaiset eiv&auml;t en&auml;&auml; lue niin kuin lapsuudessasi tehtiin. Kun oli Xx-vuotias, suomalaismies luki XX minuuttia per p&auml;iv&auml;. Kaksikymment&auml; vuotta aiemmin lukemiseen k&auml;ytettiin XX minuuttia enemm&auml;n. Yksi syy t&auml;h&auml;n saattaa olla kirjastoverkon supistuminen. 2000-luvulla kirjastojen lukum&auml;&auml;r&auml; on pienentynyt viidenneksell&auml;, lainojen 23 prosenttia.</span><span style="font-weight: 400;"><br /><br /></span></p>
<p><span style="font-weight: 400;">Kotimainen elokuvatuotanto on kasvanut volyymiltaan. Kun olit xx-vuotias [1985] Suomessa tehtiin 13 pitk&auml;&auml; elokuvaa, vuonna 2015 niit&auml; tehtiin 40 kappaletta. Elokuvateatteireissa leffoja katsotaan v&auml;hemm&auml;n kuin aiemmin. TILASTO PUUTTUU</span></p>
<p><span style="font-weight: 400;">TILASTO NETFLIXIST&Auml; YMS</span></p>
<p><span style="font-weight: 400;"><br /></span><strong>LIIKENNE</strong></p>
<p><span style="font-weight: 400;">Vaikka p&auml;&auml;st&ouml;m&auml;&auml;r&auml;ykset ovat tiukentuneet, niin autojen koko on kasvanut huomattavasti. Kun olit xx-vuotias, Volkswagen toi markkinoille Golf-automallin, josta tuli maailman toiseksi suosituin automalli. Alkuvuosina sen pituus oli XX ja leveys xx metri&auml;. Siin&auml; vaiheessa kun saavutit ajokortti-i&auml;n, oli Golf kasvanut pituutta XX sentti&auml; ja leveytt&auml; cm. Uusin malli on ensimm&auml;ist&auml; sukupolvea XX prosenttia pitempi ja XX prosenttia leve&auml;mpi. Ei ihme ett&auml; vanhat &nbsp;parkkipaikat tuntuvat nykyp&auml;iv&auml;n&auml; ahtailta.</span></p>
<p><span style="font-weight: 400;">Vuonna 2000 punaisia autoja oli XX enemm&auml;n kuin harmaita. Viisitoista vuotta my&ouml;hemmin valtasuhteet olivat kiepahtaneet: harmaita s&auml;vyj&auml; oli jo xx% enemm&auml;n kuin punaisia. [taulukko]</span></p>
<p><span style="font-weight: 400;">Autojen p&auml;&auml;st&ouml;t ovat pienentyneet 2000-luvun alkupuolella. Vuonna 2006 uusien autojen p&auml;&auml;st&ouml;t olivat keskim&auml;&auml;rin 179g/km, Kymmenen vuotta my&ouml;hemmin p&auml;&auml;st&ouml;t olivat pienentyneet l&auml;hes kolmanneksen.</span></p>
<p>Lapsuudessasi tieverkosto oli nykyist&auml; vaatimattomampi, mutta toisaalta autoja oli paljon v&auml;hemm&auml;n. Kun synnyit, Suomessa oli henkil&ouml;autoksi rekister&ouml;ityj&auml; ajoneuvoja XX kpl. Kahdeksantoistakes&auml;isen&auml; henkil&ouml;autoja oli rekisteriss&auml; XXX kpl, nyt niit&auml; on xxx. Tieverkko on nyt xx prosenttia pitempi kuin syntym&auml;si aikaan. Kasvaneesta liikenteest&auml; huolimatta kuolonkolareita sattui vuonna 2015 XX prosenttia v&auml;hemm&auml;n kuin ollessasi parikymppinen.</p>
<p><span style="font-weight: 400;">Polttoainetta nykyautot kuluttavat v&auml;hemm&auml;n kuin vanhemmat kulkuneuvot, mutta toisaalta ysivitosen hinta on noussut viimeisen kahdenkymmenen vuoden aikana puolitoistakertaiseksi.</span></p>
<p><strong><strong>&nbsp;</strong></strong></p>
<p><strong>TALOUS</strong></p>
<p><span style="font-weight: 400;">Vuonna 2002 Suomi siirtyi euroon. Hinnat ovat nousseet. </span></p>
<p><span style="font-weight: 400;">HINTATIETOJA SATUNNAISISTA TUOTTEISTA</span></p>
<p><strong><strong><br /><br /></strong></strong></p>
<p><span style="font-weight: 400;">El&auml;misen hinta on kohonut. Vuonna 2012 XX-vuotiaana [2012] suomalaisen sinkun kulutusmenot olivat </span><span style="font-weight: 400;">21 000 euroa vuodessa. &nbsp;Vuonna 1985 sinkuilla meni keskim&auml;&auml;rin kolmannes v&auml;hemm&auml;n samoihin menoihin.</span></p>
<p><strong><strong>&nbsp;</strong></strong></p>
<p><span style="font-weight: 400;">2000-luvun aikana suomalaiset ovat velkaantuneet melkoisesti. Viimeisten XX vuoden aikana suomalaisen asuntovelallisen asuntovelka on kasvanut XX prosenttia.</span></p>
<p><strong><br /><span style="font-weight: 400;">Luultavasti noin parikymppisen&auml; p&auml;&auml;sit tutustumaan Suomen veroj&auml;rjestelm&auml;&auml;n. Keskim&auml;&auml;rin tarkastellen maksat melko todenn&auml;k&ouml;isesti hieman v&auml;hemm&auml;n veroja kuin silloin. Kun olit parikymppinen ja mahdollisesti paiskit kes&auml;t t&ouml;it&auml;, niin suomalaiset maksoivat veroja XX prosenttiyksikk&ouml;&auml; enemm&auml;n kuin vuonna 2014. </span></strong></p>
      </div>



    </div>
</div>
    </div>
    <div data-role="page" id="page2">
<nav class="main-nav">
<div class="container">
           <form id="rangeSliderForm">
                <legend>Syntymävuosi:</legend>
                <input type="range" name="slider" id="slider" value="1980" min="1965" max="2016" />

            </form>
  </div>
</nav>
       

    </div>
</body>

</html>