<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>New Project</title>
    <link rel="stylesheet" href="stylesheets/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Generate using http://realfavicongenerator.net/ -->
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="javascripts/app.js"></script>
</head>

<body>
    <div data-role="page" id="page1">
        <div data-role="header"> <a href="#page2">Page 2</a>
            <h1>Page 1</h1>
        </div>
        <div role="main" class="ui-content">
            <form id="rangeSliderForm">
                <legend>Syntymävuosi:</legend>
                <input type="range" name="slider" id="slider" value="1980" min="1965" max="2016" />
                <fieldset data-role="controlgroup" data-type="horizontal">
                    <legend>Sukupuoli:</legend>
                    <input type="radio" name="radio-choice-h-2" id="mies" class="sukupuoli" value="on" checked="checked">
                    <label for="mies">Mies</label>
                    <input type="radio" name="radio-choice-h-2" id="nainen" class="sukupuoli" value="off">
                    <label for="nainen">Nainen</label>
                </fieldset>
            </form>

        </div>


<div class="row">
    <div class="timeline">
        <div class="line">
        </div>
        <div class="event">
            <div class="icon">
            <img src="images/age3.png" alt="" />
            </div>
            <div class="date">
                Eliniänodote
            </div>
            <div class="details">
                        <div id="dynamicContent">
            <p><b><span id="dynSukupuoli"></span></b> keskimääräinen eliniänodote oli syntymävuonnasi <span class="dynamic" id="dynElinika"></span> vuotta. <span id="dynVanhempi"></span> syntymän aikaan voidaan arvioida sen olleen <span class="dynamic" id="dynVanhempiElinika"></span> vuotta (<span id="dynVanSynVuosi"></span>). Vuonna 2015 syntyneiden <span id="dynLapsi"></span> arvioidaan elävän keskimäärin <span class="dynamic"  id="dynLapsiElinika"></span>-vuotiaiksi.</p>
            </div>
            </div>
        </div>
        <div class="event">
            <div class="icon">
            <img src="images/wedding2.png" alt="" />
            </div>
            <div class="date">
                Avioituminen
            </div>
            <div class="details">
               Suomessa mennään yleisimmin naimisiin 25-29-vuotiaana.  Vuonna XXXX, kun olit 25 vuoden keskimääräisessä naimisiinmenoiässä, avioliiton satamaan purjehti XXXXX paria. Eroja oli samana vuonna XXXX. Avioliiton suosio on niistä päivistä hiipunut. Vuonna 2014 solmittiin avioliittoja XXXXX kappaletta, eroja oli  XXX.
            </div>

        </div>
        <div class="event">
            <div class="icon">
            <img src="http://cdn.flaticon.com/png/256/65082.png" alt="" />
            </div>
            <div class="date">
                March
            </div>
            <div class="details">
               I was the best man in my friend Chenaniah's wedding
            </div>
        </div>
        <div class="event">
            <div class="icon">
            <img src="http://cdn.flaticon.com/png/256/34022.png" alt="" />
            </div>
            <div class="date">
                April
            </div>
            <div class="details">
                I bought my first set of Field Note's
            </div>
        </div>
        <div class="event">
            <div class="icon">
            <img src="http://cdn.flaticon.com/png/256/61291.png" alt="" />
            </div>
            <div class="date">
                May
            </div>
            <div class="details">
                I turned 20
            </div>
        </div>
        <div class="event">
            <div class="icon">
            <img src="http://cdn.flaticon.com/png/256/66315.png" alt="" />
            </div>
            <div class="date">
                June
            </div>
            <div class="details">
                I purchased my Baratza Encore coffee grinder
            </div>
        </div>
        <div class="event">
            <div class="icon">
            <img src="http://cdn.flaticon.com/png/256/43349.png" alt="" />
            </div>
            <div class="date">
                July
            </div>
            <div class="details">
                I tried my first standing desk for more then a day
            </div>
        </div>
        <div class="event">
            <div class="icon">
            <img src="http://cdn.flaticon.com/png/256/59919.png" alt="" />
            </div>
            <div class="date">
                August
            </div>
            <div class="details">
                I visited Vero Beach and my soon-to-be employer
            </div>
        </div>
        <div class="event">
            <div class="icon">
            <img src="http://cdn.flaticon.com/png/256/59801.png" alt="" />
            </div>
            <div class="date">
                September
            </div>
            <div class="details">
                Left my job at Word of Life
            </div>
        </div>
        <div class="event">
            <div class="icon">
            <img src="http://cdn.flaticon.com/png/256/23656.png" alt="" />
            </div>
            <div class="date">
                October
            </div>
            <div class="details">
                Bought my first Apple computer
            </div>
        </div>
        <div class="event">
            <div class="icon">
            <img src="http://cdn.flaticon.com/png/256/65202.png" alt="" />
            </div>
            <div class="date">
                November
            </div>
            <div class="details">
                Spent my first holiday in Florida
            </div>
        </div>
        <div class="event">
            <div class="icon">
            <img src="http://cdn.flaticon.com/png/256/62238.png" alt="" />
            </div>
            <div class="date">
                December
            </div>
            <div class="details">
                Enjoyed time at home in New York with my family
            </div>
        </div>
    </div>
</div>
    </div>
    <div data-role="page" id="page2">
        <div data-role="header"> <a href="#page1">Page 1</a>
            <h1>Page 2</h1>
        </div>
        <div role="main" class="ui-content"></div>
    </div>
</body>

</html>